<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetWelds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetWelds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GetWelds.Properties.Settings>
            <setting name="WeldIdRegex" serializeAs="String">
                <value>WeldId=([0-9]+)</value>
            </setting>
            <setting name="VelocityRegex" serializeAs="String">
                <value>Vel=([0-9.-]*)</value>
            </setting>
            <setting name="KukaWeldNameRegex" serializeAs="String">
                <value>;FOLD SG?.P_(?:PTP|LIN) ([^,]+), Vel=([0-9]+)[^,]*, Accl=[0-9]+ %, Gun=([0-9X]*), ContCLS=\[([^\]]*)\], ContOPN=\[([^\]]*)\], WeldSchd=([0-9]+), WeldId=([0-9]+), Part=([0-9.]+) mm, Force=([0-9]+) lbs, Eqlzr=([0-9]+), EqRst=([0-9]+) mm, Tool\[([0-9]+)\], Base\[([0-9]+)\], ExtTCP\[([^\]]+)\]</value>
            </setting>
            <setting name="WeldThicknessRegex" serializeAs="String">
                <value>Part=([0-9.]+) </value>
            </setting>
            <setting name="WeldScheduleRegex" serializeAs="String">
                <value>WeldSchd=([0-9]*)</value>
            </setting>
            <setting name="WeldForceRegex" serializeAs="String">
                <value>Force=([0-9.]*) </value>
            </setting>
            <setting name="OpenBackup1Regex" serializeAs="String">
                <value>Open_BU1=([^/]]*)/])</value>
            </setting>
            <setting name="OpenBackup2Regex" serializeAs="String">
                <value>Open_BU2=([^/]]*)/])</value>
            </setting>
            <setting name="OpenBackup3Regex" serializeAs="String">
                <value>Open_BU3=([^/]]*)/])</value>
            </setting>
            <setting name="OpenBackup4Regex" serializeAs="String">
                <value>Open_BU4=([^/]]*)/])</value>
            </setting>
            <setting name="Gun1Regex" serializeAs="String">
                <value>Gun1=([0-9]+)</value>
            </setting>
            <setting name="Gun2Regex" serializeAs="String">
                <value>Gun2=([0-9]+)</value>
            </setting>
            <setting name="Gun3Regex" serializeAs="String">
                <value>Gun3=([0-9]+)</value>
            </setting>
            <setting name="Gun4Regex" serializeAs="String">
                <value>Gun4=([0-9]+)</value>
            </setting>
            <setting name="Eqlzr1Regex" serializeAs="String">
                <value>Eqlzr1=([^/]]*)/]</value>
            </setting>
            <setting name="Eqlzr2Regex" serializeAs="String">
                <value>Eqlzr2=([^/]]*)/]</value>
            </setting>
            <setting name="Eqlzr3Regex" serializeAs="String">
                <value>Eqlzr3=([^/]]*)/]</value>
            </setting>
            <setting name="Eqlzr4Regex" serializeAs="String">
                <value>Eqlzr4=([^/]]*)/]</value>
            </setting>
            <setting name="AnticpRegex" serializeAs="String">
                <value>Anticip=([^/]]*)/]</value>
            </setting>
            <setting name="IsSpotWeldKuka" serializeAs="String">
                <value>(Gun1)</value>
            </setting>
            <setting name="IsServoWeldKuka" serializeAs="String">
                <value>(ContCLS=\[[X\s]*\]s*,\s*ContOPN)</value>
            </setting>
            <setting name="STYLEPROGRAMREGEX" serializeAs="String">
                <value>CASE +([0-9]+)\s*[\r\n]+RUNSTYLE\s+\(#EXT_PGNR,#PGNR_ACKN,0\s*\)[\r\n]+([^\)]+)</value>
            </setting>
            <setting name="ProgramREGEX" serializeAs="String">
                <value>Call.Up *= *([^\)]+)</value>
            </setting>
            <setting name="ToolDataRegex" serializeAs="String">
                <value>TOOL_DATA\[([\d]+)\]=\{([^\}]+)\}</value>
            </setting>
            <setting name="KUKATOOLSPLIT" serializeAs="String">
                <value>(\w{1}[1-6]?) ([\d.-]+)</value>
            </setting>
            <setting name="GetProcessRegex" serializeAs="String">
                <value>DECL\s+APPL_CONF\s+(PROCESS[1-2]+)=\{TECH\s+\#([^,]*)</value>
            </setting>
            <setting name="StudWeldRegex" serializeAs="String">
                <value>;FOLD StdWld.[SPLTIN]+ [SG_]{1,3}([^, ]+),([^\r]*)</value>
            </setting>
            <setting name="FANUCMAINPROGRAMREGEX" serializeAs="String">
                <value>STYLE[0-9]+.LS</value>
            </setting>
            <setting name="FANUCLINWELDREGEX" serializeAs="String">
                <value>([0-9]+):[J|L]{1} +P\[([0-9:1-z]+)\] +([0-9]+)mm/sec +[0-9a-zA-Z]*[^:]*: *SPOT\[SD=([0-9]{1,2}),P=([0-9]{1,2}),S=([0-9]{1,2}),ED=([0-9]{1,2})\] *;</value>
            </setting>
            <setting name="FANUCPROGRAMCALL" serializeAs="String">
                <value>[^!]CALL\s+([^\(]+)</value>
            </setting>
            <setting name="FANUCEXTENSION" serializeAs="String">
                <value>.LS</value>
            </setting>
            <setting name="FANUCPTPWELDREGEX" serializeAs="String">
                <value>([0-9]+):[J|L]{1} +P\[([0-9:1-z]+)\] +([0-9]+)mm/sec +[0-9a-zA-Z]*[^:]*: *SPOT\[SD=([0-9]{1,2}),P=([0-9]{1,2}),S=([0-9]{1,2}),(ED=[0-9]{1,2})\] *;</value>
            </setting>
            <setting name="FANUCSTYLEFROMPROGRAMREGEX" serializeAs="String">
                <value>PROG +S([0-9]+)</value>
            </setting>
            <setting name="KUKAEXTENSION" serializeAs="String">
                <value>.SRC</value>
            </setting>
            <setting name="STYLEEXTRACTREGEX" serializeAs="String">
                <value>[^0-9]([0-9]+)</value>
            </setting>
        </GetWelds.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <GetWelds.Properties.Settings>
            <setting name="StudVelocityRegex" serializeAs="String">
                <value>Vel:([0-9.-]*)</value>
            </setting>
            <setting name="StudScheduleRegex" serializeAs="String">
                <value>Schedule:([0-9]*)</value>
            </setting>
            <setting name="SelectRootDirectory" serializeAs="String">
                <value>Select Root Directory for all robots</value>
            </setting>
            <setting name="FanucStudRegex" serializeAs="String">
                <value>[0-9:]*L P\[[0-9:;A-Z-a-z[;-]+]* [0-9]+mm/sec [^ ]* RTCP\s;</value>
            </setting>
            <setting name="ParametersFile" serializeAs="String">
                <value>\Resources\Parameters.xml</value>
            </setting>
        </GetWelds.Properties.Settings>
    </userSettings>
</configuration>
